@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--primary-red: hsl(14, 86%, 42%);
	--primary-green: hsl(159, 69%, 38%);
	--secondary-Rose-900: hsl(14, 65%, 9%);
	--secondary-Rose-500: hsl(12, 20%, 44%);
	--secondary-Rose-400: hsl(7, 20%, 60%);
	--secondary-Rose-300: hsl(14, 25%, 72%);
	--secondary-Rose-100: hsl(13, 31%, 94%);
	--secondary-Rose-50: hsl(20, 50%, 98%);
}
body {
	font-size: 16px;
	font-family: 'Red Hat Text', sans-serif;
}
section {
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) ; */
	grid-template-columns: 1fr, 300px;
	gap: 20px;
}
img {
	display: block;
	width: 100%;
	border-radius: 10px;
}
.products {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
