@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
* {
	padding: 0px;
	margin: 0px;
}
html {
	font-size: 16px;
}
:root {
	--primary-rose: hsl(14, 65%, 9%);
	--light-rose-500: hsl(12, 20%, 44%);
	--light-rose-400: hsl(7, 20%, 60%);
	--light-rose-300: hsl(14, 25%, 72%);
	--secondary-green: hsl(159, 69%, 38%);
	--secondary-red: hsl(14, 86%, 42%);
}
body {
	font-family: 'Red Hat Text', sans-serif;
	background-color: hsl(13, 31%, 94%);
}
/* ORDER CONTAINER */
.main__container {
	padding: 3rem 5rem;
	display: grid;
	grid-template-columns: 1fr auto;
}
/* HEADER */
.menu__headline {
	color: var(--primary-rose);
	font-size: 2rem;
	margin-bottom: 1.5rem;
}
.order_container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
}
.menu_order_container {
	width: 200px;
}
.hidden {
	display: none;
}
/* ADD TO CART */
.image_addToCart_container {
	width: 250px;
	height: 250px;
	border-radius: 15px;
	text-align: center;
	position: relative;
}
.order__image {
	width: 100%;
	border-radius: 12px;
	object-fit: cover;
	cursor: pointer;
}
.addToCartBtn {
	position: absolute;
	bottom: -8px;
	left: 50px;
	padding: 10px 22px;
	border-style: solid;
	border-width: 1px;
	border-color: #c55a2b;
	border-radius: 30px;
	background: hsl(0, 0%, 100%);
	color: #c55a2b;
	font-size: 15px;
	font-weight: 600;
	gap: 6px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	transition: 0.25s;
}
.quantity-controls {
	position: absolute;
	top: 100px;
	left: 50px;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
}
.addToCartBtn:hover {
	background: #c55a2b;
	color: #ffff;
	transform: translateY(-2px);
}
.fontSize {
	font-size: 15px;
}
.order__details_container {
	margin-top: 1rem;
	line-height: 1.5;
}
.order__price {
	font-weight: 600;
	color: var(--secondary-red);
}
/* CART CONTAINER */
/* .cart_container {
} */
.your_cart {
	background-color: #ffff;
	border-radius: 15px;
	width: 300px;
	padding: 1.5rem;
}
.cart_headline {
	font-size: 2rem;
	color: var(--secondary-red);
	margin-bottom: 1rem;
}
.cart_illus {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cart_image {
	margin-bottom: 1rem;
}
.empty_cart {
	color: var(--light-rose-500);
	font-weight: 500;
}
.product_cart {
}
.product_cart_name {
	font-size: 15px;
	font-weight: 600;
	color: var(--primary-rose);
}
.product_cart_details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
	margin-top: 10px;
	padding-bottom: 15px;
	border-bottom: 1px solid var(--light-rose-300);
}
.product_cart_details_list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}
.product_cart_quantity {
	color: var(--secondary-red);
	font-weight: 700;
}
.product_cart_price {
	color: var(--light-rose-500);
}
.product_cart_item_total_price {
	color: var(--light-rose-500);
	font-weight: 600;
}
.remove-btn {
	padding: 2px 5px;
	/* background: var(--light-rose-300); */
	border: 1px solid black;
	border-radius: 20px;
	cursor: pointer;
	font-size: 14px;
}
.carbon-neutral-delivery {
	display: flex;
	align-items: center;
	gap: 2px;
	justify-content: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
	background-color: #fff8f8da;
	padding: 20px 20px;
	border-radius: 10px;
}
.carbor_neutral span {
	font-weight: 600;
}
/**TOTAL CART */
.total_cart_container {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
	font-size: 20px;
	font-weight: bold;
}
.confirm_cart_btn {
	width: 100%;
	padding: 15px;
	background: #b04621;
	border: none;
	color: #fff;
	border-radius: 30px;
	cursor: pointer;
	font-size: 18px;
}

.confirm-btn:hover {
	background: #8b3619;
}
